<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	</head>
	
	<body>
		<img class ="mealticket2" src="images/mealticket.png"/>
	<img class="drinks" src="images/drinks.jpg"/>
		<div class="center">
		<h1>Meal Ticket</h1>
			<h2>Grocery Lists Made Easy</h2>
		
		<div class="enter">
			<a href="index.html">Get Started</a>
			</div>	
			
		</div>
	</body>
</html>