
<html>
<head>
<title></title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>

	<div class = "wrapper">
	<header>
		<img class ="mealticket" src="images/mealticket.png"/>
		</header>
		
	
		<div class="main">
		<h1 class="titlemain">Welcome to Meal Ticket</h1>
			<h3>Grocery lists made easy </h3>
<p>
form
label(for='newTask') Item:
input(id='new-task', type='text' name='newTask')
br
label(for='quantity') Quantity:
input(id='quantity', type='number', name='quantity')
br
button(type='submit') Add
    

p #{newTask}: #{quantity}
</p>
			
			<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_email"></a>
<a class="a2a_button_copy_link"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
</div>
		
<footer>
Group One Project 
</footer>
	
</div>
</body>
</html>