block content
    h1= title
    p Welcome to #{title}

    form(action='/shoppingList', method='post')
        label(for='newTask') Item:
        input(id='new-task', type='text' name='newTask')
        label(for='quantity') Quantity:
        input(id='quantity', type='number', name='quantity')
        button(type='submit') Add
    
    h2 TO SHOP
        p itam added to the List
        p #{newTask} #{quantity}