extends layout

block content
  h1= title
  p Welcome to #{title}
  
  form 
    label(for='name') item:
    input(type='Text', name='item')
    br 
    br
    label(for='name') quantity:
    input(type='Number', name='quantity')
    br
    br
    button(type='submit' value='submit') submit
     if item
     if quantity
      p #{item }  #{quantity}
