<html>



<head>

   <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>

  <form method='post' action='shopping' >

    Item:

    <input type="text" name="Item">

    <br>Quantity:

    <input type="text" name="Quantity">
    <br><input type="submit" value='Submit'>

  </form>



</body>



</html>